#hero {
  text-align: center;

  & img[src='music'] {
    width: 1rem;
  }

  & h1 {
    margin: 1rem;
  }

  & p {
    font: var(--font-medium) var(--text-lg) / 1.4 var(--font-sans);
    color: var(--text-secondary);

    margin-top: 1.5rem;
  }

  & .buttons {
    justify-content: center;
    margin-top: 2rem;
  }
}

@media (width >= 80em) {
  #hero {
    background: url(../../assets/ui/bg-hero.svg) no-repeat bottom center/contain;
    padding-bottom: 15rem;
    & img[src='music'] {
      width: 25.75rem;
    }
  }

  & h1 {
    margin: 1.5rem;
  }

  & p {
    font-size: 1.5rem;

    margin-top: 1rem;
  }

  .buttons {
    margin-top: 3rem;
  }
}
